---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
import stefanLogo from "/public/authors/stefan.webp";
import { Image } from "astro:assets";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Let me introduce myself</Fragment>
    </Pagetitle>

    <div
      class="flex flex-col items-center justify-between gap-10 lg:flex-row mx-auto max-w-4xl mt-12">
      <div class="object-cover aspect-square">
        <Image
          src={stefanLogo}
          width={300}
          height={300}
          loading="eager"
          title="Stefan Gogov"
          alt="Team"
          class="object-cover rounded-full transition hover:-translate-y-1 hover:shadow-xl"
        />
      </div>

      <div class="max-w-lg">
        <p
          class="mb-5 text-lg text-gray-500 dark:text-gray-400 md:px-10 lg:px-0">
          My name is Stefan Gogov, and I'm from Bulgaria. I live in Asenovgrad
          which is a small town in Plovdiv Province. Programming is my true
          passion and I cannot imagine life not doing it. I really enjoy solving
          complex problems and developing software solutions. I'm also a
          photography enthusiast and I try my best to capture anything
          beautiful.
        </p>

        <p class="text-lg text-gray-500 dark:text-gray-400 md:px-10 lg:px-0">
          Besides that, by creating this blog, I'm going to share all of my
          experiences that would be helpful to you
        </p>
      </div>
    </div>

    <div class="mx-auto max-w-xl text-center mt-14">
      <p class="text-lg leading-relaxed text-gray-500">
        Need assistance or collaboration? Reach out and get in touch! Together,
        we can achieve greatness.
      </p>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
