---
import Link from "./ui/link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav class="flex justify-center gap-4 mt-10">
  {
    prevUrl && (
      <Link
        href={prevUrl}
        size="md"
        style="outline"
        title="Go to previous page">
        ← Previous
      </Link>
    )
  }
  {
    nextUrl && (
      <Link href={nextUrl} size="md" style="outline" title="Go to next page">
        Next →
      </Link>
    )
  }
</nav>
