---
import { Icon } from "astro-icon/components";
import { ThemeSwitch } from "astro-color-scheme";
---

<ThemeSwitch strategy="select" defaultTheme="system">
  <div class="inline-flex items-center">
    <Icon class="w-4 h-4 mr-2" name="heroicons-outline:sun" />
    <select
      name="themeSwitch"
      id="themeSwitch"
      title="Change theme"
      aria-label="Change site theme"
      class="bg-primary dark:bg-dark px-2 py-1 rounded border border-gray-200 dark:border-zinc-700 appearance-auto focus:outline-none focus:ring-2 focus:ring-offset-2 relative z-10">
      <option value="system">System</option>
      <option value="dark">Dark</option>
      <option value="light">Light</option>
    </select>
  </div>
</ThemeSwitch>
