---
interface Props {
  href: string;
  size?: "md" | "lg" | "unset";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "underline" | "muted";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
  unset: "",
};

const styles = {
  outline:
    "bg-primary border-2 border-brand-primary dark:border-dark hover:shadow-xl text-brand-primary dark:bg-transparent dark:border-white dark:text-white dark:hover:bg-zinc-800",
  primary:
    "bg-brand-primary text-white hover:bg-zinc-800 hover:shadow-xl  border-2 border-transparent dark:bg-white dark:text-brand-primary dark:hover:bg-zinc-200",
  inverted: "bg-white text-dark hover:shadow-xl  border-2 border-transparent",
  underline:
    "relative my-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-300 after:content-[''] after:bg-blue-500 after:h-[3.5px] after:w-[0%] after:left-0 after:-bottom-[6px] after:rounded-md after:absolute after:duration-300 hover:after:w-[100%] dark:after:bg-purple-500",
  muted:
    "bg-zinc-100 hover:bg-zinc-200 hover:shadow-xl  border-2 border-transparent",
};
---

<a
  href={href}
  {...rest}
  class:list={[
    "rounded text-center transition",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
